#navBar {
    overflow: hidden;
}
#nav {
    transition: all 0.4s ease;
    overflow: hidden;
}

.navbar-shrink {
    background-color: rgb(125, 197, 173) !important;


    .navbar a {
        color: rgb(125, 197, 173);
    }
}

.navbar {
    
    overflow: hidden;
    padding: 0.5rem;
}
#navBar .navbar {
    background-color: transparent;
}
.navbar a {
    cursor: pointer;
}



@media (max-width: 500px) {
    .navbar {
        background-color: white !important;
    }
    .navbar-collapse {
        background-color: white !important;
        padding: 15px;
    }
}
.h1{
    margin-top: 7rem!important;
    text-shadow: 0 0 3px #12b628ec, 0 0 5px #0ac470;
    font-size: 45px;
    font-family:'Courier New', Courier, monospace;
}
.landpage {
    background: url(../assets/images/front5.jpg);
    background-position: top;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: initial;
   
}

.landpage h5 {
    font-family: "poppins", sans-serif;
    
}

.srvBg{

    background: url(../assets/images/services2.webp);
   
}

.introimg {
    display: flex;
    top: 10%;
    margin: 97px auto 0;
}
.imgprop {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
 
}
.mainTitle {
    text-align: center;
    font-family: "Bebas Neue", cursive;
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: 200;
    padding-top: 20px;
}
.title {
    margin:10px;
    color: rgb(16, 189, 45);
    font-family: "Bebas Neue", cursive;
    text-shadow:  0 0 3px #0b070e, 0 0 5px #198754;
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 10px 0;
}
.secTitle {
    text-align: center;
    font-family: "Bebas Neue", cursive;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 400;
    padding-top: 30px;
}

.about {
    background-color: white;
    // color: #000 !important;
    position: relative;
    overflow: hidden;
    text-align: center;

}
.h3{
    text-shadow: 0 0 3px #FF0000, 0 0 5px #198754;
    color: #198754;
    font-size: 2.5em;
}
.h2{
    text-shadow: 0 0 3px rgb(196, 196, 219), 0 0 5px #198754;
    color: #198754;
    font-size: 1.5em;
}
.p{
    color: navy;
    text-indent: 35px;
    text-transform: uppercase;
    line-height: 30px;
  }
  

// .about::after {
//     content: "";
//     margin-bottom: auto;
//     position: absolute;
//     bottom: 0;
//     right: 10%;
//     height: 75px;
//     width: 3px;
//     background-color: #fff;
// }

/*span {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 6px;
    background-color: #0ddfd4;
  }*/
  
.ourValues{
    position:relative;
    padding-top: 5rem;
    // padding: 4vw 0;
}
.services {
    position:relative;
    padding: 2vw 0;
}


// .services::after {
//     content: "";
//     position: absolute;
//     top: 0;
//     right: 10%;
//     height: 75px;
//     width: 3px;
//     background-color: #2957dd;
// }
// .box {
//     margin: -360px auto 60px;
//     width: 765px;
//     height: -10px;
//     position: relative;
// }
.title {
    // color: #fff;
    padding-top: 17px;
    font-weight: 600;
    margin:30px;
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
    color: #198754;

}

#services i {
    color: rgb(5, 129, 129) !important;
}
#lnpad {
    padding: 2px 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1.125rem;
    text-align: justify;
    
}
// .quote {
//     background-color: #198754;
//     padding: 20%;
//     font-family: "Open Sans", sans-serif;
//     font-size: 1.6875rem;
// }
// .quote i {
//     font-size: 70px;
//     color:#000;
    
//}
// .imgbox {
//     background: url(../assets/images/aboutusimage.jpeg);
//     background-position: top;
//     background-size: cover;
//     min-height: 460px;
//     width: 100%;
// }
.emptybox {
    width: 50%;
    height: 150px;
}

.spltext {
    font-family: "Bebas Neue", cursive;
    font-size: 30px;
}

#services .card {
    padding: 12%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.3s 0s ease-in;
}
#services .card:hover {
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}

#services .iconbox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    cursor: pointer;
}
#services .iconwrapper {
    background-color: #a5d7a3 ;
    border-radius: 100%;
    width: 6rem;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#services i {
    font-size: 50px;
    color:white;
}
#recentWorks {
    background-color: #292d33;
    padding: 2% 0;
}
#recentWorks .card {
    border: none;
}
// #recentWorks img {
//     border-radius: 12px;
// }

.innerValues{
    font-family: "Open Sans", sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
    margin-top: 0px !important;
}
//    .innerValues ul {width: 600px;}
    .innerValues ul li{ padding: 10px;}  
@media (min_width:600px)
{
        p{
            font-size:1rem; 
            line-height: 1.5;
        }

}
.borderround {
    border-radius: 12px !important;
}
#recentWorks .card {
    border-radius: 0;
}
#recentWorks .nobjfit {
    object-fit: cover !important;
}
.cursorp {
    cursor: pointer;
}
.ifcon {
    width: 100%;
    height: 100%;
    margin: 1.75rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ifimg {
    width: 850px;
}
.objfit { 
    object-fit: contain;
}
.bgdark {
    background-color: #ddd;
}
.modal-content {
    border: none;
}

#contact {
    // background-color: #292d33;
    min-height: 450px;
    padding-top: 0.5%;
}
#contact .card {
    border: none;
}
#contact a {
    text-decoration: none;
    color: inherit;
}
#contact .iconbox {
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact .iconwrapper {
    background-color: #2957dd;
    border-radius: 50%;
    width: 45px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#contact i {
    font-size: 20px;
    color: #fff;
}
#contact p {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    margin-top: 13px;
}
#contact .bshadow {
    //box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

 //footer styles

.footer {
    background-color: #292d33;
    color: #D3D3D3;
    
    padding-bottom: 2%;
}
.footer a {
    text-decoration: none;
}
.footer h4 {
    color: #fff;
}
.footer ul {
    
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer ul li {
    padding: 1%;
}
.footer ul li:hover {
    color: #fff;
}
.footer a {
    text-decoration:none  
    
}

.footer .f14 {
    font-size: 15px;
}
.click {
    cursor: pointer;
}
.butn {
    box-sizing: border-box;
    appearance: none;
    background-color: white;
    color: green;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: .5em 1em;
    text-decoration: none;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;

    &:hover,
    &:focus {
        color: #fff !important;
        outline: 0;
    }
    
    color: #000;
    background: {
        image: linear-gradient(45deg, #00008B 50%, transparent 50%);
        position: 100%;
        size: 400%;
    }
    transition: background 300ms ease-in-out;

    &:hover {
        background-position: 0;
    }
}

.back-to-top {
    position: fixed;
    display: table;
    background: #2957dd;
    color: #2957dd;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: all 0.5s ease;
    z-index: 11;
    opacity: 0;
  }
  
  .back-to-top i {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  } 
  
  .show-scrollTop {
    opacity: 1 !important;
    transition: all 0.8s ease;
  }

  .ourValueImg{

    height:500px;
  }

  @media only screen and (max-width: 825px) {
    .box {
        width: 600px;
    }

    .innerValues{
        font-size: 1rem;
        .innerValues ul li{ padding: 5px !important;} 
    }
    
    .introimg {
    width:200px;
    }

    .mainTitle {
        margin-top:20px;
        text-align: center;
        font-family: "Bebas Neue", cursive;
        font-size: 40px;
        letter-spacing: 1px;
        font-weight: 200;
       
    }
    .navbar-nav{
        font-weight: 600;
    }

    .landpage {
        width: 100%;
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    // .imgbox {     background: url(
    //     ../assets/images/aboutusimage.jpeg);   
    //     background-size: 250px !important;
    //     background-repeat: no-repeat;
    //     min-height:300px;
    //     width: 100%;
    //     margin-top: 100px;
    // }

    .ourValueImg
    {
        height:480px;
      }
}

@media (max-width: 768px) {
    .back-to-top {
      bottom: 15px;
    }
  }

@media only screen and (max-width: 650px) {
    .box {
        width: 450px;
    }
    .emptybox {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .box {
        width: unset;
    }
    .emptybox {
        width: unset;
        height: unset;
    }
    .ifimg {
        width: 100%;
    }
    .imgbox {     
        background-size: 200px !important;      
        margin-top: 0;
    }
    .ourValueImg{
        height:380px;
      }

  
}
@media(max-width:500px){
    #about{
        .box{
            margin:unset;
        }
    }
/*
    .navbar {
        background-color: rgb(125, 235, 207) !important;
    }
    .navbar-collapse {
        background-color:rgb(10 100 13)!important;
        padding: 15px;
    }*/

}

@media (min-width: 992px)
{
.navbar-nav {
font-size: 1.5em;
}

.navbar-brand img{
width: 90px;
height: 50px;
}

}

