<section id="navBar">
  <nav id="nav" class="navbar fixed-top navbar-expand-lg navbar-light overflow-hidden">
    <div class="container-fluid">
      <a class="navbar-brand px-2" href="#">
        <img src="../assets/images/logo.png" alt="" width="80" height="40">
      </a>
      <button class="navbar-toggler" id="menu-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="text nav-link active" aria-current="page" (click)="scrollToTarget('.landingPage')">Home</a>
          <a class="text nav-link" (click)="scrollToTarget('.about')">About</a>
          <a class="text nav-link" (click)="scrollToTarget('.ourValues')">Our Values</a>
          <a class="text nav-link" (click)="scrollToTarget('.services')">Services</a>                                                             
          <a class="text nav-link" (click)="scrollToTarget('.contact')">Contact</a>
        </div>
      </div>
    </div>
  </nav>
</section>

<!-- landingpage -->

<section id="landingPage" class="landingPage">
  <div class="container-fluid landpage">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 text-center">
        <img src="../assets/images/logo.png" class="introimg " alt="">
      </div>
          <div class="col-12 col-sm-12 col-md-12 ">
          <h1  class=" text-primary text-center" >
            <b> PHARMACY</b> </h1>
      </div>
    </div>
  </div>
</section>

<!-- about -->

<section id="about" class="about">
  <h1 class=" h1 mt-5" >About Us</h1>
  <div class="container">
    <div class="row">
      <div class=" col-12 col-sm-12 col-md-6 text-center">
        <img src="../assets/images/firstpage4.jpg" height="100%" width="100%" alt="">
        </div>
        <div class=" col-12 col-sm-12 col-md-6 text-center d-flex align-items-center">
         
            <p >
            <b>
            We are a start up in Penang, Malaysia. The first Pharmacy in the bustling new township in Batu Kawan, Bandar Cassia. 
            We aim to provide our customers with a fresh New (Nu) approach to pharmacy needs.
            We pride ourselves on personal patient care both medically and holistically.
            NuCare Sdn Bhd is an investment holding company, which engages in the operation of community pharmacy including retailing of pharmaceutical, healthcare, and personal care products. The company's product offerings include scheduled drugs, over-the-counter drugs, health supplements, personal care products, healthcare devices, healthy food, confectionery, beverages, and household products.
          </b></p><br>
         
          </div>
          <div class="row">
              <div class=" col-12 col-sm-12 col-md-6 text-center pt-3">
                  <h3 class="h3 text-center">Vision</h3>
                  
                  <p >
                   <b> Reaching people and touching lives as a leading provider of valued medicines and services.</b>
                  </p>
                
                  <h3 class="h3  text-center">Mission</h3>
                  <p >
                    <b> We are passionately committed to providing diverse pharmacy and other health care products and services,emphasizing on service excellence, innovation and cost-effectiveness for the benefit of our patients.To be an advocate of healthy lifestyles to the communities we serve. To create an amazing work environment and career advancements for our dedicated team members.</b>
                  </p>
                  </div>
                
                <div class=" col-12 col-sm-12 col-md-6 text-center">
                  <img src="../assets/images/firstimage6.jpg" height="" width="50%" alt="">
                  </div>
                </div>
        </div>
        </div>
</section>


<!-- Our Values -->

<section class="ourValues" id="ourValues">
 <div class="container ">
  <h1 class="h1 mt-5 text-center">Our Values  </h1>
  <div class="row">
    <div class ="col-12 col-sm-12 col-md-6 text-center d-flex align-items-center">
      <img class="ourValueImg" src="../assets/images/ours1.avif" height="" width="100%" alt="">
    </div>
    <div class ="col-12 col-sm-12 col-md-6 text-start pt-5 ">
      
        <h2 class="h2  text-start">Quality</h2>-<b>Get it right the first time.</b>
        <h2 class="h2  text-start">Reliability </h2>- <b>Maintain efficiency & discipline in all processes & systems and fulfil the promises made to stakeholders & customers.</b>
        
        <h2 class="h2  text-start"> Trust</h2>-<b>Always transparent in dealings with people.</b>
        
        <h2 class="h2  text-start">Consistency </h2>-<b>Endeavour to bring new products to the market & consistently deliver value to stakeholders.</b><br>
        
        <h2 class="h2  text-start">Innovation </h2>-<b>Implement new ideas & technologies to meet unmet needs and move ahead of times.</b><br>
      
          <h2 class=" h2 text-start"><b>Why do you need to work with us?</b></h2>
        
          <b> We care for the well being of others not only by selling medical products but by also giving away a portion of our profits.
            Always put ‘we’ before ‘me’.
            Advocate social enterprising for the less fortunate around us.
            Transparency in all transaction including accounting & money flows.
          </b>
        
    </div>
    </div>
  </div>
</section>

<!--services-->

<section class="services" id="services">
  <h1 class="h1 text-center">NuCare Services</h1>
  <div class="container" >
  
    <div class="row align-items-center text-center"> 
        
      <div class="col-12 col-sm-12 col-md-6" >
       
            
        <p><b>Fast and Friendly Assistance. <br>
          </b></p> <p><b> Competetive pricing.<br>
          </b></p> <p><b> Self-Pickup(drive-thru) for pre-orders.<br>
          </b></p> <p><b> Free delivery within Bandar Cassia and Penang.<br>
          </b></p> <p><b>Free membership and redemption benefits.<br>
          </b></p> <p><b>Free Nutrition and Medical consultation.<br>
          </b></p> <p><b> Free blood pressure checkup .<br>
          </b></p> <p><b>Advendist bread available for pre-orders twice weekly.<br>
          </b></p>      
      </div>
      <div class="col-12 col-sm-12 col-md-6" >
        <img class="ourValueImg" src="../assets/images/page1.webp" alt="" width="100%">
      </div>
      </div>
      
      <div class="row text-center"> 
        <div class="col-12 col-sm-4 col-md-1" ></div>
      <div class="col-12 col-sm-10 col-md-2" >
          <div class="iconbox">
            <div class="iconwrapper">
              <i class='fas fa-pills'></i>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title"><b>Prescription Filling & Refilling  </b>
              
            </h5>
           
          </div>
          </div>

      
          <div class="col-12 col-sm-10 col-md-2 ">    
          <div class="iconbox">
            <div class="iconwrapper">
              <i class="fa fa-medkit"></i>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title"><b>Pharmacist Counselling</b>
            </h5>
           
          </div>
          </div>
       
     
          <div class="col-12 col-sm-10 col-md-2 ">    
          <div class="iconbox">
            <div class="iconwrapper">
             <i class="fa fa-heartbeat"></i>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title"><b>Supplements & Organic Health Food</b>
            </h5>
           
          </div>
        </div>
        
   
      <div class="col-12 col-sm-10 col-md-2">    
          <div class="iconbox">
            <div class="iconwrapper">
              <i class='fas fa-receipt'></i>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title"><b>Health Screening</b>
            </h5>
          </div>
        </div>
       
        <div class="col-12 col-sm-10 col-md-2 ">    
          <div class="iconbox">
            
            <div class="iconwrapper">
              <i class="fa fa-wheelchair"></i>
              
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title"><b>Rehabilitation</b>
            </h5>
           
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-1" ></div>
        
      
    </div>
    </div>
    
  
</section>



<section class="contact" id="contact">
  <h1 class="h1 text-center">Contact</h1>
  <div class="container">
    <div class="row g-1 bshadow">
      <div class="col-md-4">
        <div class="container-fluid">
          <div class="row g-0">
            <div class="card p-3 text-center">
              <div class="col-md-12 p-3">
                <div class="iconbox">
                  <div class="iconwrapper">
                    <i class="fa-solid fa-phone"></i>
                  </div>
                </div>
                <p>
                  
                  <a href="tel:017 5121066 ">017 5121066 </a>
                </p>
              </div>

              <div class="col-md-12 p-3">

                <div class="iconbox">
                  <div class="iconwrapper">
                    <i class="fa-solid fa-location-dot"></i>
                  </div>
                </div>
                <p>
                22-L Mukim 14,Jln Paya Terubung<br />
                Paya Terubong,11060 Ayer Itam,<br /> Pulau Pinang.
                </p>

              </div>
              <div class="col-md-12 p-3">

                <div class="iconbox">
                  <div class="iconwrapper">
                    <i class="fa-solid fa-envelope"></i>
                  </div>
                </div>
                <p>
                  <a href="mailto:testing:nucarepharma88@gmail.com
                  ">
                  nucarepharma88@gmail.com

                  </a>
                  <a href=" mailto:contactus@nucaremed.com.my
                  ">
                  contactus@nucaremed.com.my
                  </a>
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <!-- <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.3622426408524!2d78.78867581479469!3d10.069375392803629!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd48037eb5779cad8!2zMTDCsDA0JzA5LjgiTiA3OMKwNDcnMjcuMSJF!5e0!3m2!1sen!2sin!4v1645451496224!5m2!1sen!2sin"
          width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3972.258198270733!2d100.272530813404!3d5.377547436917303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304ac1ee575b4db9%3A0x6ada1231835190db!2s22%2C%20Jln%20Paya%20Terubung%2C%20Paya%20Terubong%2C%2011500%20Ayer%20Itam%2C%20Pulau%20Pinang%2C%20Malaysia!5e0!3m2!1sen!2sus!4v1653277810298!5m2!1sen!2sus" 
          width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

   
      </div>
    </div>
  </div>
</section>

<footer>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#292d33" fill-opacity="1"
      d="M0,224L48,218.7C96,213,192,203,288,208C384,213,480,235,576,240C672,245,768,235,864,208C960,181,1056,139,1152,122.7C1248,107,1344,117,1392,122.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
    </path>
  </svg>
  <div class="footer">
    <div class="container">
      <img src="../assets/images/logo.png" alt="">
      <div class="row g-4">
        <div class="col-sm-12 col-md-4">

          <!--h2 class="pt-2 pb-3">NuCare</h2-->
          <!--h4>Micro Level Enterprises</h4-->
          <!--p>
            At A/L infrastructures, our promise is to execute the highest-quality trim carpentry work to commercial and
            private jobs with a commitment to open, honest, two-way communication, respect, and empathy for our clients,
            employees, and each other. The result is excellent work that exceeds expectations and leaves everyone
            feeling good about a job well done.
          </p--><p id="lnpad" class="text-white">
            We aim to provide our customers with a fresh New (Nu) approach to pharmacy needs.
            We pride ourselves on personal patient care both medically and holistically.
            We are passionately committed to providing diverse pharmacy and other health care products and services. 
          </p>
        </div>
        <div class="col-sm-12 col-md-4 text-center text-white">
          <h4>
            Quick Links
          </h4>
          <ul>
            <li class="click" (click)="scrollToTarget('.landingPage')">Home</li>
            <li class="click" (click)="scrollToTarget('.about')">About</li>
            <li class="click" (click)="scrollToTarget('.ourValues')">Our Values</li>
            <li class="click" (click)="scrollToTarget('.services')">Services</li>
            <li class="click" (click)="scrollToTarget('.contact')">Contact</li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-4">
          <h4>
            NuCare Pharmacy Sdn Bhd
          </h4>
          <h5> OPERATION-HQ:</h5>
          <p class="text-white">
            Batu Kawan Branch: 62-G Jalan Vervea 13,
            Bandar Cassia,14110 Simpang Ampat, Penang, Malaysia
           
          </p>
          <h5>
            ADMIN OFFICE: 
          </h5>
          <p class="text-white">
            LOT 166, Tingkat Atas , Jalan Putra D,
            Kilang Lama, 09000 Kulim, Kedah, Malaysia
          </p>
          <h5>
            BRANCH:
          </h5>
          <p class="text-white">
           22-L Mukim 14,Jalan Paya Terubung
           Paya Terubong,11060 Ayer Itam, Pulau Pinang.
          
          </p>
          <p>
            <a href="tel:017 5121066 ">
              <button class="butn "><b>Contact Us</b></button>
            </a><br>
            <a href="../assets/pdf1/NuCare Industrial Supply Catalog .pdf" download ><button type="button" class="butn"><b>Download Catalogue</b></button></a>
          </p>
        </div>
      </div>
    </div>
    <p class="text-center f14 m-0">
      Copyright © 2022  NuCare Pharmacy Sdn Bhd<!--a href="http://www.rsinfosolution.in/">Rsinfosolution</a-->. All Rights Reserved
    </p>
  </div>
  
</footer>

<a class="back-to-top click" (click)="scrollToTarget('.landingPage')" [ngClass]="{'show-scrollTop': windowScrolled}">
  <i class="fa-solid fa-angle-up"></i>
</a>